@{
    ViewData["Title"] = "Home Page";
}

@{
    ViewData["Title"] = "Home Page";
}

<div class="banner">
    <p>ХЕРСОНСЬКИЙ ХАБ</p>
</div>
<div class="activity">
    <div class="container">
        <div class="activity__row">
            <div class="activity__humanitarian__row">
                <div class="activity__humanitarian__leftpart activity__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis placeat adipisci odit voluptatibus itaque deserunt rerum consequuntur, sit corporis. Exercitationem dolorem tenetur ipsa repellendus vel nobis aperiam quaerat quam veritatis?</div>
                <div class="activity__humanitarian__rightpart activity__img">
                    <img src="img/humanitarian.jpg" alt="">
                </div>
            </div>
            <div class="activity__medical__row">
                <div class="activity__medical__leftpart activity__img">
                    <img src="img/medical.jpg" alt="">
                </div>
                <div class="activity__medical__rightpart activity__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis placeat adipisci odit voluptatibus itaque deserunt rerum consequuntur, sit corporis. Exercitationem dolorem tenetur ipsa repellendus vel nobis aperiam quaerat quam veritatis?</div>

            </div>
            <div class="activity__ngo__row">

                <div class="activity__ngo__left activity__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis placeat adipisci odit voluptatibus itaque deserunt rerum consequuntur, sit corporis. Exercitationem dolorem tenetur ipsa repellendus vel nobis aperiam quaerat quam veritatis?</div>
                <div class="activity__ngo__right activity__img">
                    <img src="img/ngo.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
</div>